<?php
//Global Config

$player_name = "((URY)) Player";
$event_name = "University Radio York";
$show_image = "logo-station.png";
$bg_image = "bg-faders.jpg";
$stream_url_base = "https://ury.org.uk/audio/";
$audio_type = "mp3";

//strm-data.php (for external stream name access)
//will prepend the value in $stream-prefix to its output.
//You'll probably want a space after it.
$stream_prefix = "URY ";

//webRootDir/$keyval => ["Stream Name", "Subtitle"],
//Subtitle (Sport name etc) can be left blank ("")
$stream_data = array(
  "live-high" => ["Main Broadcast", ""],
);

$stream_id = pathinfo($_SERVER['PHP_SELF'], PATHINFO_FILENAME);

?>
