body {
  background-size: cover !important;
  color: white;
  min-height: 100vh;
}
h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.2rem;
}
nav.navbar-inverse {
  background-color: rgba(0,45,90,0.75);
}
.navbar-brand.divider {
    border-right: 1px white solid;
    margin: 14px 1rem 14px 0;
    height: 28px;
    padding: 0;
}
#navbar-slogan {
  font-size: 16px;
  margin: 5px 0;
  vertical-align: middle;
}
.container {
  padding: 7em 0;
  text-align: center;
  max-width: 400px;
  box-sizing: content-box;
}
.hidden {
  display: none;
}
#show-title {
  background: rgba(0,40,129,0.5);
  padding: 1em;
}
#show-image {
  background-color: rgba(0,45,90,0.75);
  padding: 0;
}
#show-image img {
  width: 100%;
}
#show-player {
  background: rgba(0,40,129,0.9);
  margin:0;
}
#show-player-play {
  vertical-align: middle;
  align-items: center;
  text-align: center;
  background: #001933;
  padding: 10px;
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  margin: auto 0;
}
#show-player-text {
  vertical-align: middle;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 30px;
  font-weight: lighter;
  font-size: 20px;
}
#show-player audio {
  display:none;
}
#show-player-volume-container {
  vertical-align: middle;
  display: flex;               /* establish flex container */
  align-items: center;         /* vertically center flex items */
}

#volume{
  width:100%;
  margin-right:5px;
  background: rgba(255,255,255,.3);
  border-radius: 15px;
}
#volume-icon {
  font-size: 20px;
  margin-right: 10px;
}
/*Grabable volumeHandle*/
#volumeHandle{
  cursor: pointer;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
}

/* Custom page footer */
.footer {
  padding: 20px 30px;
  font-size: 15px;
  color: #777;
  border-top: 3px solid #ddd;
  background: #e1e1e1;
  text-align: center;
}
.footer .navbar-left {
  margin-bottom: 10px;
}
.footer .navbar-left a:hover {
  text-decoration: none;
  color: rgb(0,45,90);
}

@media (max-width: 1600px) {
  .container {
    padding: 3em 0;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 2em 0;
  }
  #show-image img {
    width:50%;
  }
}
